.experience {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
  width: 90%;
  border-top: solid;

  background-color: #42424a;

  color: #fff4a4;

  text-shadow: 2px 2px black;
}

.exp-title {
  justify-items: center;
  grid-column-start: 4;
  grid-column-end: 4;
}

.exp-content {
  grid-column-start: 1;
  grid-column-end: 3;

  border-right: solid;

  padding-left: 20px;
  padding-right: 10px;
}

@media screen and (max-width: 999px) {
  .experience {
    display: flex;
    flex-direction: column-reverse;
  }

  .exp-content {
    border-right: none;
    border-left: solid;
  }
}
